body {
  margin: 0;
}

header {
  background: #222;
  height: 80px;
  width: 100%;
}

header label {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

#input {
  position: relative;
  margin: 10px;
  height: 600px;
}

#editing,
#highlighting {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
  border: 0;
  width: 100%;
  height: 100%;
}

#editing,
#highlighting,
#highlighting * {
  /* Also add text styles to highlighting tokens */
  font-size: 15pt;
  font-family: monospace;
  line-height: 20pt;
  tab-size: 2;
}

#editing,
#highlighting {
  position: absolute;
  top: 0;
  left: 0;
}

/* Move the textarea in front of the result */
#editing {
  z-index: 1;
  outline: none;
}

#highlighting {
  z-index: 0;
  border-radius: 16px;
  border: solid 0px #ddd;
}

/* Make textarea almost completely transparent */
#editing {
  color: transparent;
  background: transparent;
  caret-color: black; /* Or choose your favorite color */
}

/* No resize on textarea */
#editing {
  resize: none;
}

footer {
  text-align: center;
}

footer p {
  display: inline-block;
  padding: 20px;
  max-width: 30%;
  border-top: 1px solid #eee;
}

footer a {
  color: blue;
  text-decoration: none;
}
